<div class="main-container">
    <div class="div-header-home">
        <h1 class="header-title">Home</h1>
    </div>
    <hr style="margin-bottom: 0px;">
    <div class="main-content text-normal">
        <div class="row">
            <div class="col-lg-3">
                <img width="160px" height="160px"
                    src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/1ea329a1e2cddd2d5a0f6310422eb2e5a987fdef/two_people_waving.svg" />
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div style="padding-top: 25px;" class="col-lg-7">
                        <span>{{currentTime}}, {{currentUser?.fullName}}</span>
                    </div>
                    <div style="padding-top: 20px; width: 100%;" class="col-lg-6">
                        <p>Welcome to TMS! This is your home page, where you can quickly see your upcoming tasks and
                            access your most important projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-task-due-soon">
            <div class="div-title">
                <div>
                    <button pButton type="button" class="p-button-text p-button-success" [style]="{'height':'2px'}"
                        (click)="toggleDisplayTaskDueSoon()">
                        <i *ngIf="isShowDivTask" class="pi pi-chevron-right"></i>
                        <i *ngIf="!isShowDivTask" class="pi pi-chevron-down"></i>
                    </button>
                    <span class="text-title">Tasks Due Soon</span>
                </div>
                <div>
                    <a [routerLink]="['/my-tasks']" class="style-text">All my tasks</a>
                </div>
            </div>
            <hr style="margin-bottom: 0px;">
        </div>
        <div [hidden]="isShowDivTask">
            <div class="div-list-task" [hidden]="tasks.length === 0">
                <p-table [value]="tasks" [scrollable]="true"
                scrollHeight="425px" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 800px;">Task Name</th>
                        <th>Task Due Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task>
                    <tr (click)="openTaskModelDialog(task.id)" style="cursor: pointer;">
                        <td style="width: 800px;">{{task.name}}</td>
                        <td>{{task.dueDate | date}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">You don't have any task due soon!</td>
                    </tr>
                </ng-template>
            </p-table>
                <!-- <div>
                    <span (click)="openTaskModelDialog(task.id)">{{task.name}}</span>
                </div>
                <div>
                    <span>{{task.dueDate | date}}</span>
                </div> -->
            </div>
        </div>
        <!-- <div class="div-notify" [hidden]="tasks.length !== 0">
            <span>You don't have a task due soon!</span>
        </div> -->
        <!-- <div class="div-recent-project">
            <div class="div-title">
                <div>
                    <button pButton type="button" class="p-button-text" [style]="{'height':'2px'}"
                        (click)="toggleDisplayProject()">
                        <i *ngIf="isShowDivProject" class="pi pi pi-chevron-right"></i>
                        <i *ngIf="!isShowDivProject" class="pi pi pi-chevron-down"></i>
                    </button>
                    <span style="font-weight: bold;">My Projects</span>
                </div>
                <div>
                    <span class="p-input-icon-left" style="padding-right: 15px;">
                        <i class="pi pi-search"></i>
                        <input style="background-color: white;" pInputText type="text" [(ngModel)]="keyWord" placeholder="Search Project Name"
                            (keydown)="getProjectForSearchBar($event)" field="name" minLength="1" />
                    </span>
                    <button style="margin-bottom: 5px;" pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded bg-green"
                        (click)="goToCreateNewProject()"></button>
                </div>
            </div>
            <hr style="margin-bottom: 0px;">
        </div>
        <div class="div-list-project" [hidden]="isShowDivProject">
            <p-table [value]="projects" [scrollable]="true"
                scrollHeight="265px" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 400px;">Project Code</th>
                        <th style="width: 400px;">Project Name</th>
                        <th>Start Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project>
                    <tr [routerLink]="['/project', project.id, 'kanban-view', project.id]" style="cursor: pointer;">
                        <td style="width: 400px;">{{project.code}}</td>
                        <td style="width: 400px;">{{project.name}}</td>
                        <td>{{project.startDate | date}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">You have not been invited or have any projects!</td>
                    </tr>
                </ng-template>
            </p-table> -->
            <!-- <div class="list-project">
                <span [routerLink]="['/project-kanban-view', project.id]">{{project.code}}</span>
            </div>
            <div>
                <span>{{project.name}}</span>
            </div>
            <div>
                <span>{{project.startDate | date}}</span>
            </div> -->
        <!-- </div> -->
        <!-- <div class="div-notify" [hidden]="projects.length !== 0">
            <span>You have not been invited or have any projects!</span>
        </div> -->
    </div>
</div>