:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #d8ffd1;
        border-color: #d8ffd1;
    }

    .p-link:focus {
        box-shadow: 0 0 0 0.2rem #7db873;
    }

    .p-datatable.p-datatable-tasks {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead > tr > th {
            text-align: left;
        }

        // .p-datatable-tbody > tr > td {
        //     cursor: auto;
        // }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
        .p-dropdown {
            width: fit-content;
        }
    }

    /* Responsive */
    .p-datatable-tasks .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}
.main-container {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.task-assignee {
    display: flex;
}

.task-icon {
    font-size: 20px;
    margin-left: -1.7rem;
    padding-right: 10px;
    color: rgb(75, 173, 232);
}

.image-text {
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 0.5rem;
}

.taskNameCol {
    width: 500px;
    padding-left: 60px !important;
}

.section {
    width: 200px;
}

.assignee {
    width: 280px;
}

.label {
    width: 200px;
}

.dueDate {
    width: 200px;
}

.status {
    width: 200px;
}

@media screen and (max-width: 1440px) {
    .taskNameCol {
        width: auto !important;
        padding-left: 10px !important;
    }

    .section {
        width: auto !important;
    }

    .assignee {
        width: auto !important;
    }

    .dueDate {
        width: auto !important;
    }

    .status {
        width: auto !important;
    }
}

@media screen and (max-width: 1366px) {
    .taskNameCol {
        width: auto !important;
        padding-left: 10px !important;
    }

    .section {
        width: auto !important;
    }

    .assignee {
        width: auto !important;
    }

    .dueDate {
        width: auto !important;
    }

    .status {
        width: auto !important;
    }
}
