<div class="card-container">
    <div class="signupCardLayout">
        <span class="span-text-title">TMS Software</span>

        <div class="div-input">
            <span class="text-form">Email address</span>
            <input type="input" class="form-control" />
            <span class="text-form">Password</span>
            <input type="password" class="form-control" />
            <span class="text-form">Re-Password</span>
            <input type="password" class="form-control" />
        </div>

        <div class="div-signup-button">
            <button type="button" class="btn btn-secondary">Sign up</button>
        </div>

        <div class="text-or"><a>OR</a></div>

        <div class="div-login-link">
            <img src="assets\image\logoGoogle.jpg" class="image">
            <span class="text-login">
                <a>Continue with Google</a></span>
        </div>

        <div class="div-span">
            <span class="text-span2" routerLink="/login">Already have an system account? Log in</span>
        </div>
    </div>
</div>