<div class="main-container-dialog">
    <div mat-dialog-title class="add-member-title">
        <h1 class="text-title">Update Teacher</h1>
        <div class="div-task-function">
            <span [mat-dialog-close]="true">
                <i class="pi pi-times"></i>
            </span>
        </div>
    </div>
    <form [formGroup]="updateNewTeacherForm" (ngSubmit)="updateTeacher()">
        <div mat-dialog-content class="main-content">
            <div class="div-list-member">
                <label class="text-title">Teacher Member</label>
                <p-multiSelect [options]="teachers" formControlName="teacherSelected" defaultLabel="Select a Teacher" [selectionLimit]="1"
                    optionLabel="fullName" [style]="{'width':'250px'}" class="dropdown">
                </p-multiSelect>
            </div>
        </div>
        <div class="button-add">
            <button pButton pRipple type="button" label="Update Teacher" [disabled]="!updateNewTeacherForm.dirty"
            class="p-button-rounded" (click)="updateTeacher()"></button>
        </div>
    </form>
</div>
