<div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <p class="title-name">Current password</p>
        <p-password formControlName="currentPassword" [feedback]="false" [inputStyle]="{ 'width': '300px' }" aria-describedby="currentPassword-help"></p-password>
        <small *ngIf="submitted && f.currentPassword.errors && f.currentPassword.errors.required" id="currentPassword-help" class="p-error">Current password is required</small>

        <p class="title-name">New password</p>
        <p-password formControlName="newPassword" appendTo="body" [inputStyle]="{ 'width': '300px' }" aria-describedby="newPassword-help">
            <ng-template pTemplate="header">
                <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="p-mt-2">Suggestions</p>
                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase or number</li>
                    <li>Minimum 6 characters</li>
                </ul>
            </ng-template>
        </p-password>
        <small *ngIf="submitted && f.newPassword.errors && f.newPassword.errors.required" id="newPassword-help" class="p-error">New password is required</small>
        <small *ngIf="submitted && f.newPassword.errors && f.newPassword.hasError('pattern')" id="newPassword-help" class="p-error">New password not strong enough. Please follow suggestions!</small>

        <p class="title-name">Re-enter new password</p>
        <p-password formControlName="confirmPassword" [feedback]="false" [inputStyle]="{ 'width': '300px' }" aria-describedby="confirmPassword-help"></p-password>
        <small *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.required" id="confirmPassword-help" class="p-error">Re-enter new password is required</small>

        <p-message *ngIf="error" severity="error" [style]="{ 'margin-top': '20px' }" [text]="error"></p-message> 
        <div class="p-d-flex p-jc-center">
            <p-button label="Change Password" styleClass="change-button" [disabled]="loading" [loading]="loading" (onClick)="onSubmit()"></p-button>
        </div>
        
    </form>
</div>
