<div class="main-container-dialog">
    <div mat-dialog-title class="task-detail-title">
        <h1 class="header-title" style="font-weight: bolder;">Add New Project</h1>
        <div class="div-task-function">
            <div>
                <span [mat-dialog-close]="true">
                    <i class="pi pi-times"></i>
                </span>
            </div>
        </div>
    </div>
    <div mat-dialog-content class="main-content text-normal">
        <form [formGroup]="projectInformationForm" (ngSubmit)="createNewProject()">
            <div class="div-project-info">
                <div class="display-field">
                    <p class="text-title required">Project Code</p>
                    <div>
                        <input type="text" pInputText placeholder="Project Code" formControlName="projectCode"
                            aria-describedby="project-code-help"
                            [ngClass]="{ 'ng-invalid ng-dirty': f.projectCode.errors && submitted}">
                        <div class="p-col-12">
                            <small *ngIf="submitted && f.projectCode.errors" id="project-code-help"
                                class="p-error">Project code is invalid.</small>
                        </div>
                    </div>
                </div>
                <div class="display-field">
                    <p class="text-title required">Project Name</p>
                    <div>
                        <input type="text" pInputText placeholder="Project Name" formControlName="projectName"
                            aria-describedby="project-name-help"
                            [ngClass]="{ 'ng-invalid ng-dirty': f.projectName.errors && submitted}">
                        <div class="p-col-12">
                            <small *ngIf="submitted && f.projectCode.errors" id="project-code-help"
                                class="p-error">Project name is invalid.</small>
                        </div>
                    </div>
                </div>
                <div class="div-date-picker">
                    <div class="row">
                        <div class="column">
                            <p class="text-title required">Start Date</p>
                            <span>
                                <p-calendar dataType="date" dateFormat="yy/mm/dd" placeholder="yyyy/mm/dd"
                                    [style]="{'width':'100%'}" formControlName="durationFrom" [showIcon]="true"
                                    aria-describedby="start-date-help" appendTo="body"
                                    [ngClass]="{ 'ng-invalid ng-dirty': f.durationFrom.errors && submitted}">
                                </p-calendar>
                                <div class="p-col-12">
                                    <small *ngIf="submitted && f.durationFrom.errors" id="start-date-help"
                                        class="p-error">Start date must be required.</small>
                                </div>
                            </span>
                        </div>
                        <div class="column">
                            <p class="text-title required">End Date</p>
                            <span>
                                <p-calendar dataType="date" dateFormat="yy/mm/dd" placeholder="yyyy/mm/dd"
                                    [style]="{'width':'100%'}" formControlName="durationTo" [showIcon]="true"
                                    aria-describedby="end-date-help" appendTo="body"
                                    [ngClass]="{ 'ng-invalid ng-dirty': f.durationTo.errors && submitted}">
                                </p-calendar>
                                <div class="p-col-12">
                                    <small *ngIf="submitted && f.durationTo.errors" id="end-date-help"
                                        class="p-error">End date must be required.</small>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="div-project-member">
                    <div class="row">
                        <!-- <div class="column2">
                            <p class="text-title required">Teacher</p>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <p-multiSelect [options]="teachers" formControlName="teacherSelected"
                                    defaultLabel="Select a Teacher" optionLabel="fullName" 
                                    [style]="{'width':'250px'}" [selectionLimit]="1" dataKey="id"
                                    aria-describedby="project-lecturer-help"
                                    [ngClass]="{ 'ng-invalid ng-dirty': f.teacherSelected.errors && submitted}">
                                </p-multiSelect>
                                <div class="p-col-12">
                                    <small *ngIf="submitted && f.teacherSelected.errors" id="project-lecturer-help"
                                        class="p-error">Teacher must be choose.</small>
                                </div>
                            </span>
                        </div> -->
                        <div class="column">
                            <p class="text-title required">Team Lead</p>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <p-multiSelect [options]="students" formControlName="teamleadSelected"
                                    defaultLabel="Select a Teamlead" optionLabel="fullName"
                                    [style]="{'width':'390px'}" [selectionLimit]="1" dataKey="id"
                                    aria-describedby="project-teamlead-help"
                                    [ngClass]="{ 'ng-invalid ng-dirty': f.teamleadSelected.errors && submitted}">
                                </p-multiSelect>
                                <div class="p-col-12">
                                    <small *ngIf="submitted && f.teamleadSelected.errors" id="project-teamlead-help"
                                        class="p-error">Teamlead must be choose.</small>
                                </div>
                            </span>
                        </div>
                        <div class="column">
                            <p class="text-title required">Team Member</p>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <p-multiSelect [options]="students" formControlName="studentSelected"
                                    [style]="{'width':'390px'}" defaultLabel="Select Students" optionLabel="fullName">
                                </p-multiSelect>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="div-input-desciption">
                    <div class="display-input-desciption">
                        <p class="text-title">Description</p>
                        <span>
                            <textarea inputId="textarea" rows="5" style="resize: none;" cols="110"
                                placeholder="Type something..." pInputTextarea formControlName="description"></textarea>
                        </span>
                    </div>
                </div>
                <div class="div-button-create">
                    <button pButton pRipple class="p-button-rounded" type="button" label="Create New Project"
                        (click)="createNewProject()"></button>
                </div>
            </div>
        </form>
    </div>
</div>